<header id="site-header" [class.nav-scrolled]="isScrolled">
    <nav class="nav">
        <div class="nav-home">
            <a routerLink="/" aria-label="Home">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="nav-brand">
            <div class="nav-logo">
                <img src="assets/photos/WhatsApp Image 2025-12-29 at 1.14.26 PM.png" alt="logo">
            </div>
            <div class="logo-text">
                ARDOUR
                <span>BRAND</span>
                <span>SERVICES</span>
            </div>
        </div>
        <button class="nav-toggle" id="nav-toggle" [class.hidden-toggle]="isServicesOpen" aria-label="Toggle navigation"
            (click)="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="nav-links" id="nav-links" [class.active]="isNavOpen">
            <div class="services-dropdown" [class.active]="isServicesOpen">
                <a (click)="toggleServices($event)" class="services-link">
                    Services
                    <span class="caret" [class.rotated]="isServicesOpen"></span>
                </a>

                <!-- MEGA MENU -->
                <div class="mega-menu" [class.open]="isServicesOpen">
                    <div class="mega-inner">
                        <div class="mobile-back" (click)="toggleServices($event); $event.stopPropagation()">
                            <span class="back-icon">✕</span> <span class="back-text">Close Services</span>
                        </div>
                        <div class="mega-col">
                            <a href="javascript:void(0)">Goverment Events</a>
                            <a href="javascript:void(0)">Exhibitions</a>
                            <a href="javascript:void(0)">Seminars</a>
                            <a href="javascript:void(0)">Annual Day</a>
                            <a href="javascript:void(0)">Award Night</a>
                            <a href="javascript:void(0)">Sports Events</a>

                        </div>

                        <div class="mega-col">

                            <a href="javascript:void(0)">Team Building Activities</a>
                            <a href="javascript:void(0)">Family Day Events</a>
                            <a href="javascript:void(0)">ATL & BTL Activities</a>
                            <a href="javascript:void(0)">Brand Promotion</a>
                            <a href="javascript:void(0)">Artist Management</a>
                            <a href="javascript:void(0)">Celebrity Management</a>
                        </div>

                        <div class="mega-col">
                            <a href="javascript:void(0)">Theme Party</a>
                            <a href="javascript:void(0)">Entertainment</a>
                            <a href="javascript:void(0)">Stage & Fabrication</a>
                            <a href="javascript:void(0)">Rentals</a>
                            <a href="javascript:void(0)">Staffing & Recruitment</a>
                            <a href="javascript:void(0)">Corporate Gifting</a>
                        </div>
                    </div>
                </div>
            </div>

            <a routerLink="/about" class="nav-item-about">About Us</a>
            <a routerLink="/contact">Contact</a>
            <button class="btn-nav" (click)="scrollToContact()">
                Let’s Talk
            </button>
        </div>
    </nav>
</header>